{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 padding-right">
                <div class="signup-form"><!--sign up form-->
                        <h2>Оформление заказа</h2>
                        <h5>Заполните пожалуйста форму</h5>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            <div>
                                {{ form_label(form.name) }}
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                            <div>
                                {{ form_label(form.email) }}
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                            <div>
                                {{ form_label(form.phone) }}
                                {{ form_errors(form.phone) }}
                                {{ form_widget(form.phone) }}
                            </div>
                            <div>
                                {{ form_label(form.delivery_type) }}
                                {{ form_errors(form.delivery_type) }}
                                {{ form_widget(form.delivery_type) }}
                            </div>
                            <div>
                                {{ form_label(form.payment_type) }}
                                {{ form_errors(form.payment_type) }}
                                {{ form_widget(form.payment_type) }}
                            </div>
                            <div>
                                {{ form_widget(form.save) }}
                            </div>

                            {{ form_end(form) }}
                    </div><!--/sign up form-->
                <h5>Есть вопрос? <a href="{{ path('contacts') }}">Напишите</a> нам</h5>
            </div>
        </div>
    </div>
</section>
                    
{% include ('footer.html.twig') %}