{{ include ('header.html.twig') }}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 padding-right">
                <div class="signup-form"><!--sign up form-->
                        <h2>Обратная связь</h2>
                        <h5>Есть вопрос? Напишите нам</h5>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            <div>
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                            <div>
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                            <div>
                                {{ form_errors(form.text) }}
                                {{ form_widget(form.text) }}
                            </div>
                            <div>
                                {{ form_widget(form.save) }}
                            </div>

                            {{ form_end(form) }}
                    </div><!--/sign up form-->

            </div>
        </div>
    </div>
</section>
               
{{ include ('footer.html.twig') }}