{{ include ('header.html.twig') }}

<section>
<div class="container">
<div class="row">
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Каталог</li>
            <li><a href="/{{ type.route }}">{{ type.name }}</a></li>
            <li><a href="/{{ type.route }}/{{ region.route }}">{{ region.name }}</a></li>
            <li><a href="/country/{{ product.country.id }}">{{ product.country.name }}</a></li>
            <li class="active">{{ product.name }}</li>
        </ol>
    </div>
    <div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Оплата</h2>
            <div class="panel-group category-products">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                
                            </h4>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
            <div class="row">
                <div class="col-sm-5">
                    <div class="view-product">
                        <img src="/images/product/{{ product.id }}.jpg" alt="" />
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="product-information"><!--/product-information-->
                        <h2> {{ product.name }}</h2>
                        <span>
                            <span> {{ product.price }} </span>
                            <a href="#" data-id="{{ product.id }}"
                               class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>В корзину
                            </a>
                        </span>
                        <p><b>Год:</b> {{ product.year }}</p> 
                        <p><b>Наличие:</b> 
                            {% if product.count == 0 %}
                                Нет в наличии
                            {% else %}
                                Доступно {{ product.count }}
                            {% endif %}
                        </p>
                        <p><b>Cтрана:</b> {{ product.country.name }}</p>
                    </div><!--/product-information-->
                </div>
            </div>
            <div class="row">                                
                <div class="col-sm-12">
                    <br/>
                    <h5>Описание товара</h5>
                    {{ product.description }}
                </div>
            </div>
        </div><!--/product-details-->
        <div class="recommended_items"><!--recommended_items-->
            <h2 class="title text-center">Похожие товары</h2>

            <div class="cycle-slideshow" 
                 data-cycle-fx=carousel
                 data-cycle-timeout=5000
                 data-cycle-carousel-visible=3
                 data-cycle-carousel-fluid=true
                 data-cycle-slides="div.item"
                 data-cycle-prev="#prev"
                 data-cycle-next="#next"
                 >                        
                {% for product_item in other_products  %}
                    <div class="item">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img 
                                        src="/images/product/{{ product_item.id }}.jpg" 
                                        alt="" 
                                        height="100px"
                                        width="50px"
                                    />
                                    <h2>{{ product_item.price }}</h2>
                                    <a href="/product/{{ product_item.id }}">
                                        {{ product_item.name }}
                                    </a>
                                    <br/><br/>
                                    <a href="#" class="btn btn-default add-to-cart" data-id="{{ product_item.id }}"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a class="left recommended-item-control" id="prev" href="#recommended-item-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right recommended-item-control" id="next"  href="#recommended-item-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>

        </div>
    </div>
</div>
</div>
</section>


                    
{{ include ('footer.html.twig') }}